<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./normalize.css">
<script src="./mainController.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
<div ng-app="myApp">
    <div ng-controller="mainCtrl">
        <div class="nav-side-menu">
            <div class="brand">Brand Logo</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-lg fa-fw sidebar-icon"></i> Dashboard</a>
                    </li>

                    <li>
                        <a  ng-click="showServices()"><i class="fa fa-calendar fa-lg fa-fw sidebar-icon"></i> Services</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bar-chart fa-lg fa-fw sidebar-icon"></i> Statistics</a>
                    </li>

                    <li  data-toggle="collapse" data-target="#manage" class="collapsed">
                        <a href="#"><i class="fa fa-puzzle-piece fa-lg fa-fw sidebar-icon"></i> Manage <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="manage">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Devices</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Groups</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SIM Cards</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Users</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#settings" class="collapsed">
                        <a href="#"><i class="fa fa-sliders fa-lg fa-fw sidebar-icon"></i> Settings <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="settings">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> General</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Security</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Notifications</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#maintenance" class="collapsed">
                        <a href="#"><i class="fa fa-cogs fa-lg fa-fw sidebar-icon"></i> Maintenance <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="maintenance">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Operation Logs</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Events and Alarms</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Backup and Restore</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#tools" class="collapsed">
                        <a href="#"><i class="fa fa-wrench fa-lg fa-fw sidebar-icon"></i> Tools <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="tools">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Manual SMS</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Import</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Export</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#help" class="collapsed">
                        <a href="#"><i class="fa fa-life-ring fa-lg fa-fw sidebar-icon"></i> Help <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="help">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Documentation</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Customer Support <small><i class="fa fa-external-link"></i></small></a></li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="main">
        <form action="/action_page.php" ng-if= "showDashboard">
            <div class="imgcontainer">
                <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" ng-model="person.username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password"  ng-model="person.password" required>

                <button type="submit" ng-click = "submit($event)">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
            {{username}}
            {{myWelcome}}

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
        <div class = services ng-if= "!showDashboard">
            Place service
            <ul class="nav nav-tabs">
                <li ng-repeat= "sn in servicesName track by $index" ng-click ="showTabContent(sn)">
                    <a data-toggle="tab" href= "{{'#' + sn}}" >{{sn}}</a>
                </li>
                <!--<li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
                <!--<li><a data-toggle="tab" href="#menu1">Menu 1</a></li>-->
            </ul>

            <div class="tab-content">
                <div id = {{activeTab}} class="tab-pane fade in active">
                    <h1>Your data is accessed by</h1>
                    <p>{{serviceContent}}</p>
                    <button></button>
                </div>
                <!--<div id="home" class="tab-pane fade in active">-->
                    <!--<h3>HOME</h3>-->
                    <!--<p>Some content.</p>-->
                <!--</div>-->
                <!--<div id="menu1" class="tab-pane fade">-->
                    <!--<h3>Menu 1</h3>-->
                    <!--<p>Some content in menu 1.</p>-->
                <!--</div>-->
            </div>
        </div>

    </div>
    </div>
 </div>



</body>
</html>
