<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./normalize.css">
<script src="./mainController.js"></script>

<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
<div ng-app="myApp">
    <div ng-controller="mainCtrl">
        <div class="nav-side-menu">
            <div class="brand">Brand Logo</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="#" ng-click="showDashboard = true"><i class="fa fa-dashboard fa-lg fa-fw sidebar-icon"></i> Dashboard</a>
                    </li>

                    <li>
                        <a  ng-click="showServices()"><i class="fa fa-calendar fa-lg fa-fw sidebar-icon"></i> Services</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main">
        <form action="/action_page.php" ng-if= "showDashboard">
            <div class="imgcontainer">
                <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" ng-model="person.username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password"  ng-model="person.password" required>

                <button type="submit" ng-click = "submit($event)">Login</button>
                <div class="error">{{loginInfoError}}</div>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
        <div class = services ng-if="!showDashboard" >
            <ul class="nav nav-tabs">
                <li ng-repeat= "sn in servicesName track by $index" ng-click ="showTabContent(sn)">
                    <a data-toggle="tab" href= "{{'#' + sn}}" >{{sn}}</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id = {{activeTab}} class="tab-pane fade in active">
                    <h1>Your data is accessed by</h1>
                    <table class="table table-striped" ng-if = "!serviceError">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Firstname</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(key, value) in serviceContent">
                            <tr>
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if = "!serviceError">
                        <button type="button" ng-click="modalAction('Authority')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Contact Authority</button>
                        <button type="button" ng-click="modalAction('FIR')" class="btn btn-info btn-lg btn-fir" data-toggle="modal" data-target="#myModal">File FIR</button>
                    </div>
                    <div class="error" ng-if = "serviceError">
                        Service details can not be fetched right now. Please try again later.
                    </div>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog" ng-if = "!serviceError">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{modalInfo.header}}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{modalInfo.text}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>
 </div>



</body>
</html>
